@page "/messages"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FoundBoxSG.Domain
@using FoundBoxSG.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FoundBoxSG.Data.FoundBoxSGContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="messages/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Messages">
    <PropertyColumn Property="messages => messages.SenderUserId" />
    <PropertyColumn Property="messages => messages.ReceiverUserId" />
    <PropertyColumn Property="messages => messages.MatchId" />
    <PropertyColumn Property="messages => messages.Content" />
    <PropertyColumn Property="messages => messages.CreatedBy" />
    <AuthorizeView Roles="Administrator">
        <PropertyColumn Property="messages => messages.ModifiedBy" />
    </AuthorizeView>
    <PropertyColumn Property="messages => messages.DateCreated" Sortable="true" Format="dd/MM/yyyy" />
    <AuthorizeView Roles="Administrator">
        <PropertyColumn Property="messages => messages.DateModified" Format="dd/MM/yyyy" />
    </AuthorizeView>

    <TemplateColumn Context="messages">
        <a href="@($"messages/edit?id={messages.Id}")">Edit</a> |
        <a href="@($"messages/details?id={messages.Id}")">Details</a> |
        <a href="@($"messages/delete?id={messages.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private FoundBoxSGContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
