@using Microsoft.AspNetCore.Components

<div class="card shadow-sm p-3 mb-1 mt-2">
    <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center gap-3">
        <div class="flex-grow-1">
            <h5 class="mb-1">Create Listing</h5>
            <p class="text-muted mb-0">
                Found or Lost an Item? Create a listing for others to discover
            </p>
        </div>
        <NavLink class="btn btn-primary" href = "/listings/create">+ Create New</NavLink>
    </div>
</div>

@code {

}
