@page "/listings/edit"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using FoundBoxSG.Domain
@inject IDbContextFactory<FoundBoxSG.Data.FoundBoxSGContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Listings</h2>
<hr />
@if (Listings is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Listings" OnValidSubmit="UpdateListings" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="Listings.Title" class="form-control" />
                    <ValidationMessage For="() => Listings.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Listings.Description" class="form-control" />
                    <ValidationMessage For="() => Listings.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="itemcategory" class="form-label">ItemCategory:</label>
                    <InputText id="itemcategory" @bind-Value="Listings.ItemCategory" class="form-control" />
                    <ValidationMessage For="() => Listings.ItemCategory" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="brand" class="form-label">Brand:</label>
                    <InputText id="brand" @bind-Value="Listings.Brand" class="form-control" />
                    <ValidationMessage For="() => Listings.Brand" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <InputText id="location" @bind-Value="Listings.Location" class="form-control" />
                    <ValidationMessage For="() => Listings.Location" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="uniquefeatures" class="form-label">UniqueFeatures:</label>
                    <InputText id="uniquefeatures" @bind-Value="Listings.UniqueFeatures" class="form-control" />
                    <ValidationMessage For="() => Listings.UniqueFeatures" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="color" class="form-label">Color:</label>
                    <InputText id="color" @bind-Value="Listings.Color" class="form-control" />
                    <ValidationMessage For="() => Listings.Color" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image(s):</label>
                    <InputText id="image" @bind-Value="ImagesString" class="form-control" />
                    <ValidationMessage For="() => ImagesString" class="text-danger" />
                    <small class="form-text text-muted">Enter image URLs separated by commas.</small>
                </div>
                <div class="mb-3" hidden>
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Listings.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Listings.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="modifiedby" class="form-label">ModifiedBy:</label>
                    <InputText id="modifiedby" @bind-Value="Listings.ModifiedBy" class="form-control" />
                    <ValidationMessage For="() => Listings.ModifiedBy" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Listings.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Listings.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="datemodified" class="form-label">DateModified:</label>
                    <InputDate id="datemodified" @bind-Value="Listings.DateModified" class="form-control" />
                    <ValidationMessage For="() => Listings.DateModified" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/listings">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Listings? Listings { get; set; }

    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
    [Inject]
    private AuthenticationStateProvider authenticationStateProvider { get; set; }


    private string ImagesString
    {
        get => Listings?.Images != null ? string.Join(", ", Listings.Images) : string.Empty;
        set
        {
            if (Listings != null)
            {
                Listings.Images = value.Split(',', StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries).ToList();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Listings ??= await context.Listings.FirstOrDefaultAsync(m => m.Id == Id);

        if (Listings is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
    }

    private async Task UpdateListings()
    {
        using var context = DbFactory.CreateDbContext();

        var existing = await context.Listings.FirstOrDefaultAsync(x => x.Id == Id);
        if (existing is null)
        {
            NavigationManager.NavigateTo("notfound");
            return;
        }

        // update what user edits
        existing.Title = Listings.Title;
        existing.Description = Listings.Description;
        existing.ItemCategory = Listings.ItemCategory;
        existing.Brand = Listings.Brand;
        existing.Location = Listings.Location;
        existing.UniqueFeatures = Listings.UniqueFeatures;
        existing.Color = Listings.Color;


        existing.ModifiedBy = userId;
        existing.DateModified = DateTime.Now;

        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/listings");
    }


    private bool ListingsExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Listings.Any(e => e.Id == id);
    }
}
