@page "/listings/edit"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using FoundBoxSG.Domain
@inject IDbContextFactory<FoundBoxSG.Data.FoundBoxSGContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Listings</h2>
<hr />
@if (Listings is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Listings" OnValidSubmit="UpdateListings" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Listings.Id" value="@Listings.Id" />
                <div class="mb-3">
                    <label for="listingtype" class="form-label">ListingType:</label>
                    <InputText id="listingtype" @bind-Value="Listings.ListingType" class="form-control" />
                    <ValidationMessage For="() => Listings.ListingType" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="Listings.Title" class="form-control" />
                    <ValidationMessage For="() => Listings.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Listings.Description" class="form-control" />
                    <ValidationMessage For="() => Listings.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="itemcategory" class="form-label">ItemCategory:</label>
                    <InputText id="itemcategory" @bind-Value="Listings.ItemCategory" class="form-control" />
                    <ValidationMessage For="() => Listings.ItemCategory" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="brand" class="form-label">Brand:</label>
                    <InputText id="brand" @bind-Value="Listings.Brand" class="form-control" />
                    <ValidationMessage For="() => Listings.Brand" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <InputText id="location" @bind-Value="Listings.Location" class="form-control" />
                    <ValidationMessage For="() => Listings.Location" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="uniquefeatures" class="form-label">UniqueFeatures:</label>
                    <InputText id="uniquefeatures" @bind-Value="Listings.UniqueFeatures" class="form-control" />
                    <ValidationMessage For="() => Listings.UniqueFeatures" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="color" class="form-label">Color:</label>
                    <InputText id="color" @bind-Value="Listings.Color" class="form-control" />
                    <ValidationMessage For="() => Listings.Color" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image:</label>
                    <InputText id="image" @bind-Value="Listings.Image" class="form-control" />
                    <ValidationMessage For="() => Listings.Image" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Listings.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Listings.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="modifiedby" class="form-label">ModifiedBy:</label>
                    <InputText id="modifiedby" @bind-Value="Listings.ModifiedBy" class="form-control" />
                    <ValidationMessage For="() => Listings.ModifiedBy" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Listings.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Listings.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="datemodified" class="form-label">DateModified:</label>
                    <InputDate id="datemodified" @bind-Value="Listings.DateModified" class="form-control" />
                    <ValidationMessage For="() => Listings.DateModified" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/listings">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Listings? Listings { get; set; }

    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
    @inject AuthenticationStateProvider authenticationStateProvider

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Listings ??= await context.Listings.FirstOrDefaultAsync(m => m.Id == Id);

        if (Listings is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateListings()
    {
        using var context = DbFactory.CreateDbContext();

        //Set the userId to the ModifiedBy field
        Listings.ModifiedBy = userId;
        //Set the DateModified field to current date and time
        Listings.DateModified = DateTime.Now;

        context.Attach(Listings!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ListingsExists(Listings!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/listings");
    }

    private bool ListingsExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Listings.Any(e => e.Id == id);
    }
}
