@page "/listings"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FoundBoxSG.Domain
@using FoundBoxSG.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FoundBoxSG.Data.FoundBoxSGContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<div class="content px-4">
    <a href="listings/create">Create New</a>
    <AllitemsContainer />
</div>

@code {
    private FoundBoxSGContext context = default!;
    PaginationState paginationState = new PaginationState { ItemsPerPage = 10 };
    private string searchText = "";
    private IQueryable<Listings> FilteredListings => context.Listings.Where(c =>
    c.Title.Contains(searchText));

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
