@page "/listings"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FoundBoxSG.Domain
@using FoundBoxSG.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FoundBoxSG.Data.FoundBoxSGContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="listings/create">Create New</a>
</p>

<QuickGrid Class="table" Items="FilteredListings" Pagination="paginationState">
    <PropertyColumn Property="listings => listings.ListingType" />
    <PropertyColumn Property="listings => listings.Title" Sortable="true">
        <ColumnOptions>
            <div>
            <input type="search" @bind="searchText" @bind:event="oninput" autofocus/>   
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="listings => listings.Description" />
    <PropertyColumn Property="listings => listings.ItemCategory" />
    <PropertyColumn Property="listings => listings.Brand" />
    <PropertyColumn Property="listings => listings.Location" />
    <PropertyColumn Property="listings => listings.UniqueFeatures" />
    <PropertyColumn Property="listings => listings.Color" />
    <PropertyColumn Property="listings => listings.Image" />
    <PropertyColumn Property="listings => listings.CreatedBy" />
    <AuthorizeView Roles="Administrator">
        <PropertyColumn Property="listings => listings.ModifiedBy" />
    </AuthorizeView>
    <PropertyColumn Property="listings => listings.DateCreated" Sortable="true" Format="dd/MM/yyyy"/>
    <AuthorizeView Roles="Administrator">
        <PropertyColumn Property="listings => listings.DateModified" Format="dd/MM/yyyy" />
    </AuthorizeView>

    <TemplateColumn Context="listings">
        <a href="@($"listings/edit?id={listings.Id}")">Edit</a> |
        <a href="@($"listings/details?id={listings.Id}")">Details</a>
        <AuthorizeView Roles="Administrator">
        |  <a href="@($"listings/delete?id={listings.Id}")">Delete</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

<Paginator State="paginationState" />
@code {
    private FoundBoxSGContext context = default!;
    PaginationState paginationState = new PaginationState { ItemsPerPage = 1 };
    private string searchText = "";
    private IQueryable<Listings> FilteredListings => context.Listings.Where(c =>
    c.Title.Contains(searchText));

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
