@using FoundBoxSG.Domain
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<FoundBoxSG.Data.FoundBoxSGContext> DbFactory

<div class="container-fluid">
    <div class="row g-3 pt-1">
        <!-- Search input -->
        <div class="col-12 col-md-6">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-search fs-2"></i>
                </span>
                <input type="search" class="form-control" placeholder="Title" @bind="SearchText" @oninput="OnSearchChanged" autofocus />
                @* <input type="text" class="form-control" placeholder="Items" aria-label="search"> *@
            </div>
        </div>

        <!-- Location input -->
        <div class="col-12 col-md-6">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-pin-map-fill fs-2"></i>
                </span>
                <input type="search" class="form-control" placeholder="Location" @bind="SearchLocation" @oninput="OnSearchLocationChanged" autofocus>
            </div>
        </div>
    </div>
</div>
<!--All Filters-->
<div class="p-3">
    <button class="d-flex align-items-center text-decoration-none text-dark border-0 bg-transparent">
        <i class="bi bi-filter fs-2 me-2"></i>
        <span>All Filters</span>
    </button>
</div>


@code {
    // Search Text Parameter
    [Parameter] public string SearchText { get; set; }
    [Parameter] public EventCallback<string> SearchTextChanged { get; set; }

    private async Task OnSearchChanged(ChangeEventArgs e)
    {
        var value = e.Value?.ToString() ?? string.Empty;
        SearchText = value;  // to update local component state
        await SearchTextChanged.InvokeAsync(value);  // to tell parent about the change
    }
    // Location parameters
    [Parameter] public string SearchLocation { get; set; }
    [Parameter] public EventCallback<string> SearchLocationChanged { get; set; }

    private async Task OnSearchLocationChanged(ChangeEventArgs e)
    {
        var value = e.Value?.ToString() ?? string.Empty;
        SearchLocation = value;  // to update local component state
        await SearchLocationChanged.InvokeAsync(value);  // to tell parent about the change
    }
}
