<div class="container-fluid border-top border-2 py-3 px-5 bg-light">
    <p style="font-size:0.8em;">Term of user | Privacy</p>
    <p style="font-size:0.8em;">© Copyright 2025 FoundBox</p>
</div>

@code {

}
