@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<div class="page">
    <NavMenu />
    <main class="content-wrapper">
        @Body
    </main>
    @if (!NavigationManager.Uri.Contains("/messages/chat", StringComparison.OrdinalIgnoreCase))
    {
        <Footer />
    }
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
