@page "/matches/create"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using FoundBoxSG.Domain
@inject IDbContextFactory<FoundBoxSG.Data.FoundBoxSGContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authenticationStateProvider

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Matches</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Matches" OnValidSubmit="AddMatches" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>     
            <div class="mb-3" hidden>
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Matches.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Matches.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="modifiedby" class="form-label">ModifiedBy:</label> 
                <InputText id="modifiedby" @bind-Value="Matches.ModifiedBy" class="form-control" /> 
                <ValidationMessage For="() => Matches.ModifiedBy" class="text-danger" /> 
            </div>             
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/matches">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Matches Matches { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddMatches()
    {
        using var context = DbFactory.CreateDbContext();

                //Set the userId to the CreatedBy and UpdatedBy fields
        Matches.CreatedBy = userId;
        Matches.ModifiedBy = userId;
        //Set the DateCreated and DateModified fields to current date and time
        Matches.DateCreated = DateTime.Now;
        Matches.DateModified = DateTime.Now;

        context.Matches.Add(Matches);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/matches");
    }

    private string userId = "System"; // Replace with actual user identification logic

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
    }
}
